@import '../../../variables';
@import '../../sidenav/childElements';
@import './sidenav/right';
@import './form/form';
@import '../../../main/components/modal';
@import '../../../main/components/form';

.home-content{
    height: 100%;

    .home-content--container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;


        &__left{
            flex-basis: 60%;
            margin: 15rem auto;

           
        }
        
        @include sideNavRight;

        .user-type--heading{
            background-color: #3f3f3f;
            border-radius: 10px;
            // margin-top: 2rem;
            padding: 2rem 0;
            text-align: center;
            // display: flex;
            display: none;
            flex-direction: column;
          
           
            &__icons{
                display: flex;
                flex-direction: row;
               width: 50%;
               justify-content: space-around;
                padding-top: 1rem;
                color: $primary-white;
        
                // width: 50%;
                margin: 0 auto;
                i{
                    // background-color: orange;
                    // padding: .3rem;
                    border-radius: .24rem;
                }

                .icon-container{
                    display: flex;
                    flex-direction: column;
                }

                i{
                    padding: 1rem;
                    transition:300ms linear;

                    
                }

                i:hover{
                    background-color: $line-blue;
                    //    padding: 1rem;
                   
                }

                i:active{
                    background-color: $primary-white;
                    color:$line-blue
                }

               
            }
        }
    }
   .heading{
       display: flex;
       text-align: center;
       vertical-align: middle;

        &__icon{
            margin-right: 1rem;
        }
   }

   &__main{
       padding-top: 2rem;
   }
   
   @include modal;
}

.pushTop{
    flex-basis: 90% !important;
    margin: 0 auto !important;
}

.user-create--container{
    // display: none;
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    background-color:$primary-gray;
    // z-index: 10;
}
