body{

   background-repeat:repeat;
}

main{
    padding-top: 25vh;
}

.card-body{
    // background-color: #1012244f;
    background-color: none !important;
    border-radius: 20px;
    color:white;

    input{
        background: rgba(255, 255, 255, 0);
        color: white;
        border:none;
        border-bottom: 1px solid #2D90BE;
        border-radius: 0;

        &:focus{
            background: rgba(255, 255, 255, 0);
            border: none !important;
            color:white;
        }

       
    }
}
.card{
    // background-color: #1012244f;
    background:none !important;
    border-radius: 20px;

    label{
        color: #2D90BE;
    }
}
