body{
    background: black;
   background-repeat: no-repeat;
}

main{
    padding-top: 25vh;
}

.card-body{
    background-color: #1012244f;
    border-radius: 20px;
    color:white;

    input{
        background: rgba(255, 255, 255, 0);
        color: white;
        border:none;
        border-bottom: 1px solid #2D90BE;
        border-radius: 0;

        &:focus{
            background: rgba(255, 255, 255, 0);
            border: none !important;
        }
    }
}
.card{
    background-color: #1012244f;

    border-radius: 20px;
}
