body {
  background: url(../../images/3.jpg);
  background-repeat: repeat;
}

main {
  padding-top: 25vh;
}

.card-body {
  margin-top: 25vh;
  background-color: none !important;
  border-radius: 20px;
  color: white;
}

.card-body input {
  background: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  border-bottom: 1px solid #2D90BE;
  border-radius: 0;
}

.card-body input:focus {
  background: rgba(255, 255, 255, 0);
  border: none !important;
  color:white;
}

.card {
  background: none !important;
  border-radius: 20px;
}

.card label {
  color: #2D90BE;
}

