.user-index__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem;
  background-color: black;
}

.user-index__heading input {
  background-color: black;
  border: 1px solid #2D90BE;
  color: #2D90BE;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
}

.user-index__heading .fas:hover {
  color: #d6d6e7;
}

.user-index__heading .fas:active {
  color: #2D90BE;
}

.user-index__heading .heading-radio {
  flex-basis: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

