#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-container .sidenav {
  background-color: #272727;
  flex-basis: 15%;
  width: 15%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

#main-container .sidenav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-container .sidenav ul a {
  color: white;
  text-decoration: none;
  font-family: Nunito, "sans-serif";
  font-weight: 600;
}

#main-container .sidenav ul a:hover {
  color: #2D90BE;
}

#main-container .sidenav ul li {
  margin-top: 0.1rem;
  background-color: #1a1919;
  list-style: none;
  padding: 2rem 0;
}

#main-container .sidenav ul li:hover {
  border-bottom: 5px solid #2D90BE;
}

#main-container .container {
  background-color: #a5b7ca;
  flex-basis: 85%;
  height: 90vh;
  padding: 0 1rem;
}

#main-container .container .home-content {
  padding: 2rem;
}

