#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-container .sidenav-left {
  background-color: #272727;
  flex-basis: 3%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: 300ms linear;
}

#main-container .sidenav-left__right {
  justify-content: first baseline !important;
}

#main-container .sidenav-left__shrink {
  color: white;
  display: flex;
  justify-content: space-around;
}

#main-container .sidenav-left__shrink:hover {
  color: #2D90BE;
}

#main-container .sidenav-left__shrink:active {
  font-size: small;
}

#main-container .sidenav-left ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#main-container .sidenav-left ul a {
  color: white;
  text-decoration: none;
  font-family: Nunito, "sans-serif";
  font-weight: 600;
}

#main-container .sidenav-left ul a:hover {
  color: #2D90BE;
}

#main-container .sidenav-left ul li {
  margin-top: 0.1rem;
  background-color: #1a1919;
  list-style: none;
  padding: 2rem 0;
}

#main-container .sidenav-left ul li:hover {
  border-bottom: 5px solid #2D90BE;
}

#main-container .container {
  background-color: #d6d6e7;
  flex-basis: 97%;
  height: 95vh;
  transition: 300ms linear;
}

.none {
  display: none;
}

