@import '../variables';
@import './sidenav/childElements';

#main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sidenav-left{
        background-color: $primary-gray;
        flex-basis: 3%;
        // width: 10%;
        // height: 95vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        transition:300ms linear;


       @include childElements;
    }

    
    .container{
        background-color: $container-white;
        flex-basis: 97%;
        height: 95vh;
        transition:300ms linear;
    }
}

.none{
    display: none;
}

