#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #272727;
  height: 5vh;
  align-items: center;
  position: static;
}

#main-nav a {
  color: #2D90BE;
  text-decoration: none;
  font-family: Nunito;
  font-weight: 100;
}

#main-nav .nav-items {
  display: flex;
  justify-content: space-between;
  width: 32%;
  margin-right: 50%;
  height: 60%;
}

#main-nav .nav-items a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  border: 1px solid #2D90BE;
  border-radius: 10px;
}

#main-nav .nav-items a:hover {
  background-color: #2D90BE;
  border: 1px solid #2D90BE;
  color: #272727;
}

#main-nav .nav-items a:active {
  background-color: #272727;
  border: 1px solid #2D90BE;
  color: #2D90BE;
}

#main-nav .admin-logout a:hover {
  color: #2D90BE;
}

@media (max-width: 1024px) {
  #main-nav .nav-items {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #main-nav .admin-link {
    display: none;
  }

  #main-nav a {
    color: #d6d6e7;
    text-decoration: none;
    font-family: Nunito;
    font-weight: 200;
    font-size: medium;
  }
}

