@import '../variables';

#main-nav{
    display: flex;
    // position: sticky;
    // top: 0;
    justify-content: space-between;
    padding: .5rem 2rem;
    background-color:$primary-gray;
    height: 5vh;
    align-items: center;


    a{
        color:$line-blue;
        text-decoration: none;
        font-family: Nunito;
        font-weight: 100;

    }

    .nav-items{
        display: flex;
        justify-content: space-between;
        width: 32%;
        margin-right: 50%;
        height: 95%;
        a{
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 1rem;
            border:1px solid $line-blue;
            border-radius: 10px;
        }
       a:hover{
        background-color: $line-blue;
        border: 1px solid $line-blue;
        color: $primary-gray;
       }

       a:active{
           background-color: $primary-gray;
           border:1px solid $line-blue;
           color: $line-blue;
       }
    }

    .admin-logout{
        a:hover{
            color: $line-blue;
        }
    }
}

@media( max-width: 1024px ) {
    #main-nav{
       .nav-items{
           justify-content: center;
           width: 100%;
       }
    }
}

@media( max-width: 600px ) {
    #main-nav{
        .admin-link{
            display: none;
        }

        a{
            color:$container-white;
            text-decoration: none;
            font-family: Nunito;
            font-weight: 200;
            font-size: medium;
        }
    }
}

